


.product-item .name {
color: #000000;
}
.brand .title, .stock .title{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px !important;
line-height: 14px;
color: #828282;
margin: 0;
margin-bottom: 10px; 
}

.brand .value{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;

color: #828282;
}

.stock .stock-widget{
margin-left: 18px;
}
.price{
.price-string{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px !important;
line-height: 30px;
color: #000000;
}
.currency{
  color: #828282;
  font-size: 16px !important;
}
}

.buy-input-btn{
  .buy-modal-btn{
    width: 50% !important;
  }
  .form-control{
    width: 50% !important;
  }
}

.btn-stock-modal{
  border-radius: 4px !important;
}

.buy-modal-btn.toggle{
  background: #333 !important;
}

#w19{
  width: 40% !important;
  margin-left: -5px;
  margin-right: 5px;
}



.container-content{
transition: all .1s ease-out;
width: calc(100% - 260px) !important;
padding-left: 0px;
margin-right: 0;
margin-left: auto ;
padding-right: 60px;
}


.container__df{
  display: flex;
  justify-content: flex-start;
}


// dropdown

.accordion {
  background: #fff;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  position: relative;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-align: left;
  padding: 0;
  padding-bottom: 15px;
}



.accordion:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 0px;  
  background: url('../img/catalog/dropdown-icon.svg') no-repeat center;
width: 15px;
height: 10px;
transition: all .3s ease-out;
transform: rotate(180deg)
}

.accordion.active:after {
transform: rotate(0deg) translateY(-0px);
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}


// rage

.lower.value, .upper.value{
position: absolute;
top: 10px;
border: 1px solid #F2F2F2;
display: flex;
justify-content: center;
align-items: center;
padding: 10px 0;
width: 110px;
}

.lower.value{
  left: 0px;
}
.upper.value{
  right: 0px;
}

.legend{
  display: none;
}

.min-max-slider {position: relative; width: 220px; text-align: center; margin-bottom: 0px; height: 130px !important;}
.min-max-slider > label {display: none;}
.min-max-slider > input {cursor: pointer; position: absolute; margin-top: 50px;}

/* webkit specific styling */
.min-max-slider > input {
  -webkit-appearance: none;
  outline: none!important;
  background: transparent;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, #F07D00 30%, #F07D00 60%, transparent 60%, transparent 100%);
}

.min-max-slider > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; 
  height: 20px; 
  background: #fff; 
  cursor: pointer; 
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  margin-top: -3px;
  margin-bottom: -3px;
}
.min-max-slider > input::-webkit-slider-runnable-track {cursor: pointer;}
.min-max-slider > input::-ms-track {height: 50px !important;}


// checkbox

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 26px;
  margin-left: 2px;
  margin-top: 10px;
  cursor: pointer;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}




.checkbox label::before{
  height: 16px;
  width: 16px;
  border: 1.6px solid #F07D00;
  left: 0px;
  box-sizing: border-box;
  border-radius: 2px;
  top: 3px;
}

.checkbox label::after {
  border-radius: 1px;
  height: 6px;
  width: 6px;
background: #F07D00;
  left: 5px;
  top: 8px;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.ajax-button-view{
 width: 100%;
height: 48px;
border: 1px solid #F2F2F2;
margin-top: 20px;
margin-bottom: 10px;
font-family: Roboto;
font-weight: bold;
font-size: 14px;
text-align: center;
text-transform: uppercase;
display: flex;
justify-content: center;
align-items: center;
background: transparent;
transition: all .3s ease-out;
&:hover{
  border: 1px solid  #F07D00; 
}
}

.top__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}

.button__item{
  background: #FFFFFF;
border: 1px solid #F07D00;
box-sizing: border-box;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
width: 30%;
min-height: 44px;
margin: 15px 0px;
padding: 5px;
&:hover p{
  color: #F07D00;
}
p{
  font-size: 16px;
  line-height: 18px;
color: #4F4F4F;
transition: all .3s ease-out;
}
img{
  width: 46px;
  height: 46px;
  object-fit: contain;
  margin-right: 20px;
}
}


.filter__container {
  overflow: hidden;
  width: 284px;
    background: #fff;
    margin-left: -13px;
    // margin-top: 25px;
    padding-left: 30px;
    padding-right: 20px; 
    padding-top: 20px;
  transform: translateX(-220px);
  transition: all .4s ease-out;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 200;
  bottom: 0;
  background: transparent;
  box-shadow: none;
  .accordion, .min-max-slider, .panel{
    opacity: 0;
  }
  }
  
  .filter__container.active .filter__title-cont{
    border-bottom:  1px solid #E0E0E0;
    &::after, &:before{
      content: '';
      position: absolute;
      border-bottom:  1px solid #E0E0E0;
      bottom: -1px;
    }
  
    &::after{
      width: 30px;
      left: -30px;
    }
    &::before{
      width: 20px;
      right: -20px;
    }
  
  }


  .filter__container .filter__title-cont{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom:  none;
    position: relative;
    align-items: center;
    &::after, &:before{
      display: none;
    }
}


  .filter__container.active{
    background: #fff;
    transform: translateX(-0px);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    overflow: auto;
    .accordion, .min-max-slider, .panel{
      opacity: 1;
    }

  }
  
  .close-filter-container{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #fff;
    display: none;
  }


  .filter__title--big{
    font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  }
  // .filter__title--big, .filter__btn-txt{
  //   font-family: Roboto;
  // font-weight: bold;
  // font-size: 18px;
  // line-height: 18px;
  // color: #000000;
  // }
  
  .filter__close-icon{
    cursor: pointer;
    transition: all .5s ease-out;
  }
  .filter__close-icon.active{
    transform: rotate(180deg);
  }
  .close-filter-container{
    transition: all .5s ease-out;
    box-shadow: none;
    cursor: pointer;
  }
  .close-filter-container.active{
    width: 50px;
    transform: translateX(18px)  ;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  }

.news2-containerall-catalog{
display: flex;
}

  @media (max-width: 1340px){
    #product-tile .tile-col  {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  width: 33.33% ;
  }}
  
  @media (max-width: 800px){
    .button__item{
      width: calc(50% - 10px);
    }
    #product-tile .tile-col {
      flex: 0 0 50%;
      max-width: 50%;
    width: 50%;
    }}
  
    @media (max-width: 500px){
      #product-tile .tile-col {
        flex: 0 0 100%;
        max-width: 100%;
      width: 100%;
      }
      .button__item{
        width: calc(100% );
      }
    }
  
    html{
      overflow-x: hidden;
    }


    #filter-form{
      position: relative;
      z-index: 0;
    }

    .oldHeader{
      position: fixed;
      height: 100px;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
z-index: 220;
top: 0;
    }

    .breadcams{
      margin-left: -7px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      p, a{
        font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
color: #000000;
margin-left: 7px;
margin-right: 7px;
transition: all .3s ease-out;
text-decoration: none;
      }
      p{
        color: #828282;
      }
      img{
        width: 5px;
      }
    }

    .supheader__container{
      padding-left: 285px;
    }


    .supheader {

      &__btn-cont {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

      .btn-1 {
        max-width: 277px;
        width: 100%;
height: 44px;
background: #F07D00;
border-radius: 4px;
font-family: Roboto;
font-size: 18px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
border: none;
margin-right: 35px;
margin-top: 20px;
      }
      .btn-2 {
        margin-top: 20px;
        background: #E5E5E5;
        border: 1px solid #F07D00;
box-sizing: border-box;
border-radius: 4px;
font-family: Roboto;
font-size: 12px;
line-height: 100%;
color: #4F4F4F;
display: flex;
justify-content: center;
align-items: center;
max-width: 202px;
width: 100%;
height: 44px;
      }
    }
  
  }

  @media (max-width: 1160px){

    .container-content{
      width: calc(100% - 60px) !important;
      padding-left: 0px;
      margin-right: auto;
      margin-left: 0 ;
      padding-right: 0px;
      }
      .close-filter-container{
        display: flex;
      }
      .supheader__container{
        padding-left: 60px;
      }

  }

  li{
    list-style-type: none;
  }

  .catalog-filters li .btn{
    background: #fff ;
  }


.supheader__btn-cont{

  position: relative;
  z-index: 2;
}

.filter__container {
  // z-index: 20010 !important;
}


.supheader__container{
  position: relative;
  z-index: 4 ;
}

.range-input-cont{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  .range-input{
    margin-top: 5px;
    width: 50%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #F2F2F2;
    outline: none;
    &:nth-child(1){
      border-right: none;
    }
  }
}

.range-slider-cont{
  width: 85%;
  margin: 0 auto;
  height: 100px;
  


.noUi-connect{
  background: #F07D00 !important;
}

.noUi-handle{
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  border: none !important;
}
.noUi-handle:before,.noUi-handle:after{
  display: none !important; 
  }
  .noUi-horizontal {
    height: 5px;
    border: 1px solid #F2F2F2;
  }
  .noUi-handle{
    width: 20px !important;
    height: 20px !important;
    top: -9px !important;
    outline: none !important;
    cursor:  pointer !important;
  }

}



.breadcams{
  margin-bottom: 10px;
  p{
    margin-top: 15px;
  }

}

.dropdown-toggle-category-sidemenu{
  .catalog-sidemenu-content-item{
  padding-left: 13px !important;
  padding-right: 13px !important;
}
}

.sidepopup-catalog{
.sidepopup{
  left: 590px;
  width: 950px;

.sidepopup-container-item-img{
  width: 80px;
  height: 130px;
}
.sidepopup-container-item{
  width: 200px;
  height: 220px;
  padding-left: 10px;
  padding-right: 10px;
}

}
}

@media (max-width: 1560px){
  .sidepopup-catalog{
    .sidepopup{
      width: 720px;
    }
    }
}

@media (max-width: 1305px){
  .sidepopup-catalog{
    .sidepopup{
     width: 98%;
     left: 1%;
    }

    .sidepopup-container-item{
      width: 200px;
      height: 220px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .sidepopup-container-item {
      width: 180px;
      height: 230px;
    }
  
    }
}
@media (max-width: 435px){
.dropdown-toggle-category-sidemenu{
 .dropdown-category{
   width: 220px !important;
 } 
}
}

.title-is{
  width: max-content !important;
  color: green !important;
}
.title-no{
  width: max-content !important;
  color: #F07D00 !important;
}
.catalogJS{
.news2-containerall{
  margin-left: 10px;
  // width: calc(100% + 20px);
  @media (max-width: 1160px){
    margin-left: 0px;
    // width: 100%;
  }
}
}
